<div class="row">
  <div class="col-sm-6">
    <span class="bold-score">{{ score }}</span> out of <span class="bold-score">{{ total }}</span>
  </div>
  <div class="col-sm-6">
    <div class="model-law-score-calc">
      ({{ points }}pts &times; {{ wt }}wt = {{ score }})
    </div>
  </div>
</div>
